#heading{
background-color: red;
}

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 200px;
}
.nav-items{
    display: flex;
    
}

.nav-items > ul {
    margin-top: 40px;
    display: flex;
    font-size: large;
    font-weight: bold;
}

.nav-items > ul >li{

    list-style-type: none;
    padding: 10px;
    margin: 10px;
}
.search{
    padding: 10px;
    margin: 10px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}

.res-card{

    width: 250px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.res-logo{
    width:100%;
    height: 130px;
    

}
.filter-btn{
    margin:10px;
    cursor: pointer;
}
.shimmerContainer{
    display: flex;
    flex-wrap: wrap;
}
.shimmerCard{
    width: 250px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
    height: 400px;
}

.user-card{
    border: 1px solid black;
}
